__Question 1: -
Write a program that takes a string as input, and counts the frequency of each word in the string, there might
be repeated characters in the string. Your task is to find the highest frequency and returns the length of the
highest-frequency word.__

In [1]:
from collections import Counter
def freq_len(s:str)-> int:
    if len(s) == 0:
        return None
    s = s.split()  # split the given string
    frequency = Counter(s)  # from collection.counter get the frequency of each word 
    mc = frequency.most_common(2) #get the most frequent we are getting 2  
    tmp = []
    for i in range(len(mc)):
        tmp.append(len(mc[i][0]))
    return max(tmp)  # retruning the maxlength of frequent item

In [2]:
#testcase
print(freq_len("write write write all the number from from from 1 to 100"))
print(freq_len(""))
print(freq_len("iNeuron iNeuron iNeuron iNeuron iNeuron iNeuron"))
print(freq_len("abc acd dca gagds age sage"))

5
None
7
3

__Q2.Consider a string to be valid if all characters of the string appear the same number of times. It is also valid if
he can remove just one character at the index in the string, and the remaining characters will occur the same
number of times. Given a string, determine if it is valid. If so, return YES , otherwise return NO .__

In [3]:
from typing import List
def isValidStr(s:str)->bool:
    cnt = Counter([*s]) # checking the cound
    print(dict(cnt))
    freq = list(cnt.values())  # getting the frequecy of word
    print(freq)
    if all(i==freq[0] for i in freq):  # checking the length of set and list ensure given string is valid
        return 'YES'
    else:
        return 'NO'

In [4]:
print(isValidStr('abc'))

{'a': 1, 'b': 1, 'c': 1}
[1, 1, 1]
YES

In [5]:
print(isValidStr('abcc'))

{'a': 1, 'b': 1, 'c': 2}
[1, 1, 2]
NO

In [6]:
print(isValidStr('aaaabbbbcccc'))

{'a': 4, 'b': 4, 'c': 4}
[4, 4, 4]
YES

In [7]:
print(isValidStr('aaaabbbbddcccc'))

{'a': 4, 'b': 4, 'd': 2, 'c': 4}
[4, 4, 2, 4]
NO

__Q3.Write a program, which would download the data from the provided link, and then read the data and convert
that into properly structured data and return it in Excel format.
Note - Write comments wherever necessary explaining the code written.
Link - https://raw.githubusercontent.com/Biuni/PokemonGO-Pokedex/master/pokedex.json__

__URL is not working__

__Question 4 -
Write a program to download the data from the link given below and then read the data and convert the into
the proper structure and return it as a CSV file.
Link - https://data.nasa.gov/resource/y77d-th95.json__

In [14]:
import pandas as pd
import os

c = pd.read_json('https://data.nasa.gov/resource/y77d-th95.json')  # imported the json data into dataframe
c.isnull().sum()

name                             0
id                               0
nametype                         0
recclass                         0
mass                            28
fall                             0
year                             1
reclat                          12
reclong                         12
geolocation                     12
:@computed_region_cbhk_fwbd    867
:@computed_region_nnqa_25f4    866
dtype: int64

In [15]:
c = c.drop([':@computed_region_cbhk_fwbd',':@computed_region_nnqa_25f4'],axis=1)
c.head()

       name   id nametype  ...    reclat    reclong                                        geolocation
0    Aachen    1    Valid  ...  50.77500    6.08333  {'type': 'Point', 'coordinates': [6.08333, 50....
1    Aarhus    2    Valid  ...  56.18333   10.23333  {'type': 'Point', 'coordinates': [10.23333, 56...
2      Abee    6    Valid  ...  54.21667 -113.00000  {'type': 'Point', 'coordinates': [-113, 54.216...
3  Acapulco   10    Valid  ...  16.88333  -99.90000  {'type': 'Point', 'coordinates': [-99.9, 16.88...
4   Achiras  370    Valid  ... -33.16667  -64.95000  {'type': 'Point', 'coordinates': [-64.95, -33....

[5 rows x 10 columns]

In [16]:
c.to_csv('geo.csv')